.TaskPane {
  color: red;
  height: 500px;
  width: 500px;
  margin:auto;

}

@media (min-width: 500px) and (min-height: 400px){
  .TaskPane{

  }
}

@media (min-width: 500px) and (min-height: 401px){
  .TaskPane{

  }
}

@media (min-width: 1000px) and (min-height: 700px){
  .TaskPane{

  }
}
